<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="phuongcute.css" >
    <title>Register</title>
</head>

<body>
<div style="width: 70%; padding-left: 15%;">
    <!--Tab Header Begin-->
    <div class="header">
        <img class="image" src= "http://baogialai.com.vn/dataimages/201801/original/images2615787_3a.jpg" height="180px" width="100%">
    </div>
    <!--Tab Header End-->

    <div class="all">
    <!--Tab SideBar Begin-->
    <div class="sidebar" style="float: left;" >
        <form>
            <div class="login">
                User name:
                <input type="text" placeholder="Nhập UserName">
            </div>
            <div class="login">
                Password:
                <input type="password" placeholder="Nhập Password" style="margin-left: 23px;">
            </div>
            <div class="login" style="text-align: center;">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </div>
        </form>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </div>
    <!--Tab SideBar End-->

    <!--Tab Content Begin-->
    <div class="content">
        <div style="padding-top: 20px;">
            <h2 style="text-align: center;">Wecome to your <span style="color:blue">PHOTO SITE</span></h2>
        </div>
        <div class="detail">
            <div style="text-align: center;padding-top: 20px;">
                <h3> Contact Form </h3>
            </div>
            <div style="padding-left:50px;">
                User guide:
                <p>
                    I.  Typing URL from IE
                </p>
                <p>
                    II.  Go to Home html page
                </p>
                <p>
                    III.  user the others from Home page
                </p>
            </div>
            <div style="padding:50px;">
                Developer guider:
                <al>
                <p>
                    <li> Step 1</li>
                </p>
                <p>
                    <li> Step 2</li>
                </p>
                <p>
                    <li> Step 3</li>
                </p>
                </al>
            </div>
        </div>
    </div>
    <!--Tab Content End-->
</div>
</body>
</html>