<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="phuongcute.css" >
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div style="width: 70%; padding-left: 15%;">
    <!--Tab Header Begin-->
    <div class="header">
        <img class="image" src= "http://baogialai.com.vn/dataimages/201801/original/images2615787_3a.jpg" height="180px" width="100%">
    </div>
    <!--Tab Header End-->

    <div class="all">
    <!--Tab SideBar Begin-->
    <div class="sidebar" style="float: left;" >
        <form>
            <div class="login">
                User name:
                <input type="text" placeholder="Nhập UserName">
            </div>
            <div class="login">
                Password:
                <input type="password" placeholder="Nhập Password" style="margin-left: 23px;">
            </div>
            <div class="login" style="text-align: center;">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </div>
        </form>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </div>
    <!--Tab SideBar End-->

    <!--Tab Content Begin-->
    <div class="content">
        <div style="padding-top: 20px;">
            <h2 style="text-align: center;">Wecome to your <span style="color:blue">PHOTO SITE</span></h2>
        </div>
      <div style="padding-left: 50px;padding-right: 50px;padding-bottom: 20px;">
        <div style=" display: flex; justify-content: space-between;">
            <img src = "1.png" style="width: 30%;border-style: solid;">
            <img src = "2.png" style="width: 30%;border-style: solid;">
            <img src = "3.png" style="width: 30%;border-style: solid;">
        </div>
        <br>
        <p>
            Cristiano Ronaldo dos Santos Aveiro GOIH ComM, là một cầu thủ 
            bóng đá người Bồ Đào Nha hiện đang thi đấu ở vị trí tiền đạo cho 
            câu lạc bộ Juventus tại giải vô địch Ý và là đội trưởng của đội 
            tuyển bóng đá quốc gia Bồ Đào Nha
        </p>
        <p><a href="introduction.html"><h3>An introduction to our website</h3></a></p>
        <p>
            Sinh ra và lớn lên ở Madeira, Ronaldo bắt đầu sự nghiệp của mình khi thi đấu 
            cho Sporting CP, trước khi ký hợp đồng với Manchester United vào năm 2003, ở tuổi 18. 
            Sau khi giành chức vô địch FA Cup trong mùa giải đầu tiên, anh đã giúp Man Utd giành 
            được ba chức vô địch Premier League liên tiếp, bên cạnh đó là hai danh hiệu UEFA Champions 
            League và FIFA Club World Cup vào năm 2008; ở tuổi 23, anh giành được Quả bóng vàng đầu tiên 
            của mình.
        </p>
      </div>
    </div>
    <!--Tab Content End-->
</div>
<!--Tab Footer Begin-->
<div class="all" style="margin-top: 0px;">
    <div class="sidebar" style=" text-align: center;background-color: rgba(0, 140, 255, 0.637);padding-top: 0px;" >
        <i class="far fa-envelope"></i>
        <i class="fas fa-home"></i>
        <i class="fas fa-file-alt"></i>
    </div>
    <div class="content" style="background-color:rgba(5, 140, 255, 0.733); text-align: center;padding-top : 20px;">
        Coppyright (C) 2021, Tran Thi Phuong
    </div>
</div>
<!--Tab Footer End-->

</div>
</body>

</html>