<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="phuongcute.css" >
    <title>Register</title>
</head>

<body>
<div style="width: 70%; padding-left: 15%;">
    <!--Tab Header Begin-->
    <div class="header">
        <img class="image" src= "http://baogialai.com.vn/dataimages/201801/original/images2615787_3a.jpg" height="180px" width="100%">
    </div>
    <!--Tab Header End-->

    <div class="all">
    <!--Tab SideBar Begin-->
    <div class="sidebar" style="float: left;" >
        <form>
            <div class="login">
                User name:
                <input type="text" placeholder="Nhập UserName">
            </div>
            <div class="login">
                Password:
                <input type="password" placeholder="Nhập Password" style="margin-left: 23px;">
            </div>
            <div class="login" style="text-align: center;">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </div>
        </form>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </div>
    <!--Tab SideBar End-->

    <!--Tab Content Begin-->
    <div class="content">
        <div style="padding-top: 20px;">
            <h2 style="text-align: center;">Wecome to your <span style="color:blue">PHOTO SITE</span></h2>
        </div>
        <div class="detail">
            <div style="text-align: center;padding-top: 20px;">
                <h3> Register Form </h3>
            </div>
            <form onsubmit="return checkform()">
                <table>
                    <tr>
                        <td>UserName</td>
                        <td>
                            <input type="text" id="username" required>
                            <span id="user"> Username is wrong!</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" id="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="password" id="re_password" required>
                            <span id="repass"> Confirm Password is wrong!</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <input type="radio" id="male" name="gender" value="Male" required> Male<br>
                            <input type="radio" id="female" name="gender" value="Female" required> Female
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <textarea rows="5" cols="26" id="address" required>  
                            </textarea>  
                        </td>
                    </tr>
                    <tr>
                        <td>Mail</td>
                        <td>
                            <input type="email" id="email" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>
                            <input type="text" id="phone" required>
                            <span id="rephone">Phone is wrong!</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Programming Languages</td>
                        <td>
                            <input id="gender" type="checkbox"> PHP
                            <input id="gender" type="checkbox" style="margin-left: 53px;"> Java <br>
                            <input id="gender" type="checkbox"> ASP.NET
                            <input id="gender" type="checkbox"> C++
                        </td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td>
                            <select id="skill">
                                <option value="Inter">Inter</option>
                                <option value="Fresher">Fresher</option>
                                <option value="Junior">Junior</option>
                                <option value="Senior">Senior</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="text-align: center;height: 50px;">
                        <td><button type="reset">Reset</button></td>
                        <td><button type="submit" >Register</button></td>
                    </tr>
                    <tr>
                        <span id="information" style="display: none;"></span>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!--Tab Content End-->
</div>
<script>
    function checkform(){
        var check = true;
       
        try{
            //Kiểm tra usernane
            var reg_username = /^[a-zA-Z0-9 ]+$/;
            if( !reg_username.test(document.getElementById("username").value)) {
                document.getElementById("user").style.display="block";
                check = false;
            } else {
                document.getElementById("user").style.display="none";
            }
            //Kiểm tra Repassword
            if (document.getElementById("password").value != document.getElementById("re_password").value) {
                document.getElementById("repass").style.display="block";
                check = false;
            } else {
                document.getElementById("repass").style.display="none";
            }
            //Kiểm tra Phone
            var phone = document.getElementById("phone").value;
            var reg_phone = /^[0-9 ]+$/;
            if( (phone.length != 10) || !reg_phone.test(phone)) {
                document.getElementById("rephone").style.display="block";
                check = false;
            } else {
                document.getElementById("rephone").style.display="none";
            }
         
        } 
        catch{
            document.write("Error: " +ex.message);
            check = false;

        }
        console.log("kk");
        
        if (check==true) {
            document.get
            document.getElementById("information").innerHTML = "gg";
        }
        return false;
    }
</script>
</body>

</html>